.ModalWrapper{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 1.5rem;
   width: 100%;
   height: 100%;
}

.ModalWrapper > div:first-child{
   align-self: flex-start;
}

.Modal{
   display: flex;
   flex-direction: column;
}



.FormWrapper {
   padding: 3rem;
   display: flex;
   height: fit-content;
   justify-self: center;
}

.Form {
   height: 100%;
}
.UploadSelectWrapper{
   display: flex;
   gap: 0.3rem;
   justify-content: space-between;
}

.UploadOptionsWrapper{
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
}

.DragNDropWrapper{
   border:none;
   border-radius: 5px;
   outline: 2px dashed white;
   padding-inline: 1.3rem;
   padding-block: 1.5rem;
   display: flex;
   justify-content: center;
}

.ButtonGroup{
   display: flex;
   flex-direction: row !important;
   justify-content: space-between;
}

.Submit {
   align-self: flex-end;
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.CloseBtn {
   align-self: flex-end;
   display: flex;
   align-items: center;
}

.CloseBtn:hover {
   color: var(--primary-clr);
   background-color: transparent;
   outline: 1px solid var(--primary-clr);

}