.home__index-wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.home__index-wrap_bio-wrap {
  height: 100%;
  width: 100vw;
  margin-bottom: 3rem;
  position: relative;
}

.home__index-wrap_bio-wrap video,
.home__index-wrap_bio-wrap img {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  height: 100%;
  width: 100%;
}

body.Light .home__bio-vid.Light {
  display: block;
}

body.Light .home__bio-vid.Dark {
  display: none;
}

body.Dark .home__bio-vid.Light {
  display: none;
}

body.Dark .home__bio-vid.Dark {
  display: block;
}

.home__index-wrap_bio-content {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 3rem 0;
  z-index: 1;
  position: relative;
  justify-content: center;
}

.home__index-wrap_bio-content_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__index-wrap_bio-content_logo img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.home__index-wrap_bio-content_text {
  text-transform: capitalize;
  text-align: left;
}

.home__index-wrap_bio-content_text h1 {
  display: block;
  padding-bottom: 2rem;
}

.home__index-wrap_bio-content_text h1 span:nth-child(2) {
  background-image: linear-gradient(45deg,
      hsla(246, 100%, 20%, 1) 0%,
      hsla(259, 100%, 24%, 1) 25%,
      hsla(268, 100%, 28%, 1) 50%,
      hsla(275, 100%, 31%, 1) 75%,
      hsla(281, 100%, 35%, 1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.home__index-wrap_bio-content_text p {
  margin-bottom: 1.25rem;
  line-height: 1.75rem;
}

.home__index-wrap_bio-content_text p:last-child {
  margin-bottom: 0;
}

.home__index-wrap_bio-content_text p a {
  text-decoration: underline;
}

.home__index-wrap_section-wrap {
  width: 60vw;
  margin: 0 auto;
  text-transform: capitalize;
}

.home__index-wrap_section-wrap h2 {
  margin-bottom: 1.5rem;
}



/* SLIDER STYLES */
.index_slider{
  padding-inline: 2rem;
  padding-block: 1rem;
  max-width: 1200px;
}

.index_slide {
  display: flex;
  /* width: 10rem; */
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

/* .swiper-button-next {
  background-color: yellow;
  transition: all 500ms ease-in-out;
}

.swiper-button-next:hover {
  transform: rotate(360deg);
}

.swiper-button-prev {
  color: blue;
  font-weight: 900;
  transition: all 500ms ease-in-out;
}

.swiper-button-prev:hover {
  transform: rotate(360deg);
} */

/* .index_slide div {
  height: auto;
  width: 50%;
} */
.index_slide div {
  padding: 2rem;
}

.index_slide div img {
  height: 100%;
  width: 100%;
}

/* TEST STYLES */
.bg {
  background-image: linear-gradient(45deg,
      #800080 0%,
      #e90207 46%,
      #ff8c00 100%);
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glass li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.253);
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: spin 5s linear infinite;
  bottom: -150px;
}

.glass li:nth-child(1) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
}

.glass li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.glass li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.glass li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.glass li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.glass li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.glass li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.glass li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.glass li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.glass li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
