.Wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.Heading{
    color: var(--secondary-clr-dark);
}

.Group{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.ContentType{
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    display: flex;
    background-color: var(--secondary-clr);
    width: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.Name{
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: var(--secondary-clr);
    color: var(--accent-clr);
    text-decoration: none;
    font-size: 1.5rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}